<link rel="stylesheet" href="app/style/css/dataTable.css">
<div ng-controller="dtCtrl">
  <div class="datatable_top">
    <div class="left">
      <div class="filter_img">
        <img src="app/style/image/filter.png" alt="">
      </div>
      <div class="filter_input" id="custom_filter">
        <input type="search" name="search" placeholder="Search...">
      </div>
    </div>

    <div class="right">
      <div class="btn">
        <button ng-click="goToCheckAvailability()">Check Availability</button>
      </div>
    </div>
  </div>
  <table id="example" class="display" style="width:100%">
    <thead>
      <tr>
        <th style="width: 2%;"><input type="checkbox"></th>
        <th style="width: 4%;" class="text-left">#</th>
        <th style="width: 15%;" class="text-left">NAME</th>
        <th style="width: 20%;" class="text-left">EMAIL</th>
        <th style="width: 10%;" class="text-left">ROOM TYPE</th>
        <th style="width: 5%;" class="text-left">AGE</th>
        <th style="width: 10%;" class="text-left">ROOM SIZE</th>
        <th style="width: 3%;" class="text-left">VIEW</th>
        <th style="width: 4%;" class="text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table_row" ng-repeat="data in roomBookingData2" ng-mouseover="focusImage($index)"
        ng-mouseleave="unfocusImage()">
        <td class="pl-3"></td>
        <td></td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.room_type}}</td>
        <td>{{data.age}}</td>
        <td>{{data.selected_room_size}}</td>
        <td><img ng-click="showDetails(data)" src="app/style/image/icon2.png" alt="" data-toggle="modal"
            data-target="#showModal"></td>
        <td class="editImg"><img  ng-if="focusedRow === $index"
            src="app/style/image/button.png" alt="" ></td>
      </tr>
    </tbody>
  </table>

  <div class="mt-3 ml-3">
    <button ng-click="goBack()">Go Back</button>
  </div>

  <!-- for pop up box -->
  <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center" role="document">
      <div class="modal-content">
        <div class="">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="d-flex justify-content-center">
          <img id="img" src="app/style/image/check-one.png" alt="">
        </div>
        <div class="modal-body text-center">
          <p id="message"></p>
        </div>
      </div>
    </div>
  </div>

  <!-- modal for view details -->
  <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-head">
          <input type="button" value="Cancel" class="btn pop-up-btn" data-dismiss="modal" aria-label="Close" />
        </div>
        <div>
          <view-modal data="data"></view-modal>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for edit details
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <edit-modal user-detail="selectedUser" on-update="onUpdate()"></edit-modal>
    </div>
  </div> -->

</div>