<div ng-controller="EditController">
    <div class="modal-content ">

        <div class="modal-head">
            <input type="button" value="Cancel" class="btn pop-up-btn" data-dismiss="modal" aria-label="Close" />
        </div>

        <div class="edit-modal-body">
            <form>
                <div class="edit-modal-data ">
                    <label for="Name">Name</label>
                    <input type="text" id="Name" class="form-control" ng-model="$ctrl.userDetail.name">
                </div>

                <div class="edit-modal-data ">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" ng-model="$ctrl.userDetail.email">
                </div>

                <div class="edit-modal-data">
                    <label for="number">Phone Number</label>
                    <input type="number" id="number" class="form-control" ng-model="$ctrl.userDetail.number">
                </div>
                <div class="edit-modal-data">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" ng-model="$ctrl.userDetail.selected_gender"
                        ng-required="true" placeholder="{{$ctrl.userDetail.selected_gender}}">
                        <!-- <option value="" disabled>Select Gender</option> -->
                        <option>Male</option>
                        <option>Female</option>
                        <option>Transgender</option>
                    </select>
                </div>
                <div class="edit-modal-data">
                    <label for="age">Age</label>
                    <input type="number" id="age" class="form-control" ng-model="$ctrl.userDetail.age">
                </div>

                <div class="edit-modal-data">
                    <label for="datepicker-modal">Check-in Date</label>
                    <input type="text" id="datepicker-modal" class="form-control date-input"
                        ng-model="$ctrl.userDetail.check_in_date">
                </div>
                <div class="edit-modal-data">
                    <label for="datepicker-modal2">Check-out Date</label>
                    <input type="text" id="datepicker-modal2" class="form-control date-input"
                        ng-model="$ctrl.userDetail.check_out_date" ng-click="openDatePicker()">
                </div>
                <div class="edit-modal-data">
                    <label for="roomType">Room Type</label>
                    <select class="form-control" id="roomType" ng-model="$ctrl.userDetail.room_type" ng-required="true"
                        placeholder="{{$ctrl.userDetail.room_type}}">
                        <option value="" disabled>Select RoomType</option>
                        <option>AC</option>
                        <option>NON-AC</option>
                    </select>
                </div>
                <div class="edit-modal-data">
                    <label for="roomSize">Room Size</label>
                    <select class="form-control" id="roomSize" ng-model="$ctrl.userDetail.selected_room_size"
                        ng-required="true" placeholder="{{$ctrl.userDetail.selected_room_size}}">
                        <option value="" disabled>Select RoomSize</option>
                        <option>1 bed room</option>
                        <option>2 bed room</option>
                        <option>3 bed room</option>
                        <option>4 bed room</option>
                    </select>
                </div>
                <div class="edit-modal-data">
                    <label for="idType">Id Type</label>
                    <select class="form-control" id="idType" ng-model="$ctrl.userDetail.select_id_types"
                        ng-required="true" placeholder="{{$ctrl.userDetail.select_id_types}}">
                        <option disabled>Select ID Type</option>
                        <option>Aadhar card</option>
                        <option>PAN Card</option>
                        <option>Voter ID</option>
                        <option>Driving License</option>
                    </select>
                </div>
                <div class="edit-modal-data">
                    <label for="idNumber">Id Number</label>
                    <input type="text" id="idNumber" class="form-control" ng-model="$ctrl.userDetail.idnumber">
                </div>
                <div class="edit-modal-data">
                    <label for="purpose">Purpose</label>
                    <input type="text" id="purpose" class="form-control" ng-model="$ctrl.userDetail.purpose">
                </div>
            </form>

            <div class="bttn">
                <button type="submit" ng-click="$ctrl.onSubmit($ctrl.userDetail)">Submit</button>
            </div>

        </div>
    </div>

</div>