<div class="view-modal">

    <div class="view-modal-data">
        <h6>Name</h6>
        <p>{{ $ctrl.data.name }}</p>
    </div>
    <div class="view-modal-data">   
        <h6>Email</h6>
        <p>{{ $ctrl.data.email }}</p>
    </div>
    <div class="view-modal-data">
        <h6>PhoneNumber</h6>
        <p>{{ $ctrl.data.number | phoneNumber }}</p>
    </div>
    <div class="view-modal-data">
        <h6>Gender</h6>
        <p>{{ $ctrl.data.selected_gender }}</p>
    </div>
    <div class="view-modal-data">
        <h6>Age</h6>
        <p>{{ $ctrl.data.age }}</p>
    </div>
    <div class="view-modal-data">
        <h6>Check-in Date</h6>
        <p>{{ $ctrl.data.check_in_date | date:'MMM dd, yyyy' }}</p>
    </div>
    <div class="view-modal-data">
        <h6>Check-out Date</h6>
        <p>{{ $ctrl.data.check_out_date | date:'MMM dd, yyyy' }}</p>
    </div>
    <div class="view-modal-data">
        <h6>Room Type</h6>
        <p>{{ $ctrl.data.room_type }}</p>
    </div>
    <div class="view-modal-data">
        <h6>Room Size</h6>
        <p>{{ $ctrl.data.selected_room_size }}</p>
    </div>
    <div class="view-modal-data">
        <h6>Id Type</h6>
        <p>{{ $ctrl.data.select_id_types }}</p>
    </div>
    <div class="view-modal-data">
        <h6>Id Number</h6>
        <p>{{ $ctrl.data.idnumber}}</p>
    </div>
    <div class="view-modal-data">
        <h6>Purpose</h6>
        <p>{{ $ctrl.data.purpose}}</p>
    </div>

</div>