<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            color: rgb(64, 118, 184);
        }

        img {
            width: 280px;
        }

        h2 {
            color: red;
        }

        p {
            color: red;
            font-weight: 500;
            margin: 0px;
        }

        @media only screen and (max-width: 600px) {
            img {
                width: 190px;
            }
        }
    </style>
</head>
<body>
    <div>
        <h1>Welcome to Our Service</h1>
    <img src="https://cdn.ndtv.com/tech/images/gadgets/yahoomail_screenshot.jpg" alt="yahoo img">
    <h2>Dear Participant,</h2>
    <p>Thank you for registering with us. Your account has been successfully created.</p>
    <br>
    <p>You can now enjoy all the features and benefits of our service</p>
    </div>
</body>
</html>